* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;

}


.page-header .logo img{
    width: 125px;
    height: 40px;
    position: relative;
  
    right: 250px;
    
}

.page-header {
    width: 100%;
    height: 100px;
    background-color: #1c2230;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.page-header ul {
    position: relative;
    top: 5px;
    left: 250px;

    display: flex;
    align-items: center;
    justify-content: center;

    
    list-style: none;
}

.page-header ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 50px;

    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.page-header button {
    background-color: #1c2230;
    color: #fff;
    font-family: "Montserrat",sans-serif;

    width: 70px;
    height: 40px;
    font-size: 17px;
    
    border:  solid 00mm #fff;
    
}

.section-1 {
    background-color: #1c2230;
  
    width: 100%;
    height: 160vh;
   
   
    background-image: url ("./images/bg-curvy-desktop.svg");
    background-position-y:  bottom;
    background-repeat: no-repeat;
    
    
}

.get-started {
    position: relative;
    height: 1000px;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-image: url("./images/bg-curvy-desktop.svg");
}

.section-1 img {
    height: 450px;
    position: relative;
    top: 5px;
    left: 350px;
}

.section-1 .get-started h1 {
    font-family: "Raleway",sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background: transparent;

    position: relative;
    top: 50px;
    right: 20px;
    
}

.section-1 .get-started p {
    width: 800px;
    font-family: "Raleway",sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    background: transparent;

    position: relative;
    top: 90px;
    left: 275px;
    
}

.section-1 .get-started button {
    color: #FFF;
    background-color: #4ec3d4;

    width: 200px;
    height: 40px;

    position: absolute; 
    top: 775px;
    left: 570px;
    
    font-size: 15px;
    font-weight: bold;
    
    border:  solid 0.5mm #fff;
    border-radius: 50px;
}



.section-2 {
    background-color: #181e2a ;

    width: 100%;
    height: 100vh;
}

.section-2 .grid-container {
    position: relative;
    background-color: #181e2a ;
 

    color: #FFF;
    

    display: grid;
    justify-content: center;
    text-align: center;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
}

.section-2 .item-1 {
    margin-top: 10px;
    margin-left: 150px;
}

.section-2 .item-1 h1 {
    font-size: 30px;
    font-family: "Raleway",sans-serif;
    margin-top: 30px;
}

.section-2 .item-1 p {
    font-family: "Raleway",sans-serif;
    margin-top: 15px;
}

.section-2 .item-2 {
    margin-right: 150px;
}


.section-2 .item-2 h1 {
    font-size: 30px;
    font-family: "Raleway",sans-serif;
    margin-top: 30px;
}


.section-2 .item-2 p {
    font-family: "Raleway",sans-serif;
    margin-top: 15px;
}


.section-2 .item-3 {
    margin-top: 75px;
    margin-left: 150px;
}

.section-2 .item-3 h1 {
    font-size: 30px;
    font-family: "Raleway",sans-serif;
    margin-top: 30px;
}

.section-2 .item-3 p {
    font-family: "Raleway",sans-serif;
    margin-top: 15px;
}

.section-2 .item-4 {
    margin-top: 75px;
    margin-right: 150px;
}

.section-2 .item-4 h1 {
    font-size: 30px;
    font-family: "Raleway",sans-serif;
    margin-top: 30px;
}

.section-2 .item-4 p {
    font-family: "Raleway",sans-serif;
    margin-top: 15px;
}


.section-3 {
    background-color: #181e2a ;

    color: #fff;

    width: 100%;
    height: 200vh;
}

#stay-productive-img {
    height: 425px;
    position: relative;
    top: 6em;
    left: 5em;
}

.stayp-info {
    width: 650px;
    height: 300px;
    position: relative;
    bottom: 15em; 
    left: 43em;
}

.stayp-info h1 {
    font-family: "Raleway",sans-serif;
    font-size: 35px;
}

.stayp-info p {
    font-family: "Raleway",sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 20px;

}

.stayp-info a {
    position: relative;
    top: 20px;
    text-decoration: underline #62e1dd ;
    color: #62e1dd ;
}

.stayp-info  img{
    position: relative;
    top: 23px;
    left: 5px;
    height: 18px;
    text-decoration: underline #62e1dd ;
    color: #62e1dd ;
}



#quotes-comments {
    position: relative;
    bottom: 150px;
    left: 45px;
}

.user-comments {
    position: relative;
    right: 20px;
    bottom: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.comment-1, .comment-2, .comment-3 {
    position: relative;
    bottom: 40px;
    margin-right: 30px;
    background-color: #21293c;

    
    
    width: 375px;
    height: 200px;

    box-shadow: 10px 10px #171c25;
}

.comment-1 p {
    font-weight: 600;
    font-family: "Raleway",sans-serif;
    position: relative;
    top: 40px;

    text-align: center;

}

.comment-2 p {
    font-weight: 600;
    font-family: "Raleway",sans-serif;
    position: relative;
    top: 40px;
   
    text-align: center;

}

.comment-3 p {
    font-weight: 600;
    font-family: "Raleway",sans-serif;
    position: relative;
    top: 40px;
   
    text-align: center;

}

.comment-1 h1, span {
    font-size: 14px;
    position: relative;
    top: 35px;
    left: 75px;
}

.comment-2 h1, span {
    font-size: 14px;
    position: relative;
    top: 35px;
    left: 75px;
}


.comment-3 h1, span {
    font-size: 14px;
    position: relative;
    top: 35px;
    left: 75px;
}


#img-profile-1 {
    position: relative;
    top: 70px;
    left: 23px;
    background-image: url("./images/profile-1.jpg");
    background-size: cover;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}


#img-profile-2 {
    position: relative;
    top: 70px;
    left: 23px;
    background-image: url("./images/profile-2.jpg");
    background-size: cover;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}

#img-profile-3 {
    position: relative;
    top: 70px;
    left: 23px;
    background-image: url("./images/profile-3.jpg");
    background-size: cover;
    border-radius: 50px;
    width: 35px;
    height: 35px;
}


footer {
    height: 100vh;
    color: #fff;
    background-color: #0c1524;
}

footer .logo {
    position: relative;
    top: 150px;
    left: 75px;
}

footer .location {
    display: flex;
    width: 450px;
    
    position: relative;
    top: 200px;
    left: 75px;
}

footer .location p {
    margin-left: 20px;
}

footer .contact {
    width: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 540px;
    top: 107px;
}

footer .contact img {
    width: 18px ;
    margin-top: 30px;
}

footer .contact p {
    position: relative;
    bottom: 17px;
    left: 45px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer #navfooter-1 a{
    position: relative;
    bottom: 24px;
    left: 850px;
    list-style: none;
}

footer #navfooter-1 ul{
    margin-top: 30px;
}

footer #navfooter-2 a{
    position: relative;
    bottom: 219px;
    left: 1000px;
    list-style: none;
}

footer #navfooter-2 ul{
    margin-top: 30px;
}